/* Global page styles */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header section */
.header, .container-1, .container-2, .container-3, .container-4, .footer {
    display: flex;
    padding: 16px 15%;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.header, .container-1 {
    background-color: #1F2937;
}

.header > .links {
    font-size: 18px;
    color: #c5c6c6;
}

.header > .links > li {
    margin: 0px 16px;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

/* Hero section */
.container-1 {
    padding-top: 80px;
    padding-bottom:120px;
    gap: 32px;
}

.left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #c5c6c6;
}

.hero-button, .modal-button {
    align-self: flex-start;
    color: white;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 10px;
    border-style: none;
}

.image-placeholder {
    flex: 1 1 auto;
    width: 200px;
    background: #8a8b8e;
    color: #c5c6c6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Showcase section */
.container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom:80px;
    gap: 32px;
}

.container-2-title {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-image {
    border: 4px solid rgb(105, 129, 215);
    border-radius: 16px;
    width: 160px;
    height: 160px;
}

.card-text {
    text-align: center;
    color: #c5c6c6;
}

/* Quote section */
.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #c5c6c6;
    padding-top: 80px;
    padding-bottom: 80px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-credit {
    font-size: 22px;
    font-weight: 700;
    align-self: flex-end;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 48px 128px;
    flex: 1 1 auto;
}

.modal > .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-text {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.signup-subtext {
    color: #c5c6c6;
}

.modal-button {
    border: 2px solid white;
}

/* Footer */
.footer {
    display: flex;
    background: #1F2937;
    color: #c5c6c6;
    justify-content: center;
    align-items: center;
}